:root{
  color-scheme: dark;
}

body {
  font-family: Arial, sans-serif;
  padding: 0;
  background-image: url(/background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}

button {
  display: block;
  margin: 0 auto 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.loginForm{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:100vh;
  margin: 0 auto;
}

.formDesign{
  height:500px;
  width:500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(111, 111, 111, 0.8);
  backdrop-filter: blur(2px);
  box-shadow: #fff 0 0 20px;
  border-radius: 20px;
}

.inputName{
  width: 300px;
  height: 100px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.inputName input{
  width: 100%;
  height: 40px;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
}

button{
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #4CAF50dd;
  color: white;
}

button:hover{
  background-color: #45a049dd;
}

.depTable{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100%;
}

.blockTable{
  background-color: rgba(111, 111, 111, 0.8);
  backdrop-filter: blur(2px);
  box-shadow: #fff 0 0 20px;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(#60e08a, #555ae4);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: honeydew 0 0 5px;
}